<a href="https://colab.research.google.com/github/SANGSEOSEO/philosophy_datascience/blob/master/%5B%EC%8B%A4%EC%8A%B5%5DCh02_pandas_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC_08~09_apply~lambda_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

## 실습에 사용할 예제 파일

[국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)

## 데이터프레임 로드

In [4]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

## 1. apply

In [5]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

apply는 Series나 DataFrame에 좀 더 **구체적인 로직**을 적용하고 싶은 경우 활용합니다.

* apply를 적용하기 위해서는 함수가 먼저 정의되어야합니다.
* apply는 정의한 로직 함수를 인자로 넘겨줍니다.

In [6]:
# 남자는 `'성별'`을 1로 표시,여자는 0으로 표시
df.loc[df['성별']== '남자', '성별'] = 1
df.loc[df['성별']== '여자', '성별'] = 0

In [7]:
df.head()

     이름     그룹  소속사 성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  1  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  1  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  1  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  1  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  0  1995-07-23  162.1   A   7650928

### 1-1. (목표) 남자/ 여자의 문자열 데이터로 구성된 '성별' column을 1 / 0 으로 바꿔보세요

In [8]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [10]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

남자: 1
여자: 0
기타: -1

**[주의] 반드시 return 값이 존재**하여야합니다.

In [11]:
# 먼저 apply에 활용할 함수를 정의합니다.
def male_female_conv(x):
  if x == '남자':
    return 1
  elif x == '여자':
    return 0
  else:
    return -1

In [12]:
df['성별_신규'] = df['성별'].apply(male_female_conv)

In [13]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_신규
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260      1
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947      1
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745      1
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501      1
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928      0

### 1-2. (목표) cm당 브랜드 평판지수를 구해보세요 (브랜드평판지수/ 키)

키: 178
브랜드평판지수: 99000

값: 99000 / 178

In [14]:
# 먼저 apply에 활용할 함수를 정의합니다.
def cm_to_brand(df):
    # 코드를 입력해 주세요
    value  = df['브랜드평판지수'] / df['키']
    return value

In [15]:
# Series에 applly를 적용할 때에는 axis옵션이 필요없지만 ,
# 전체 컬럼 로우의 컬럼에 apply API가 적용이 필요하다면 axis=1로 파라미터 적용이 필요
# NaN이면 그냥 0으로 채워라.
df['브랜드평판지수/키'] = df.apply(cm_to_brand, axis=1)

In [16]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_신규     브랜드평판지수/키
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260      1  60617.857143
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947      1  56027.949153
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745      1  45965.250000
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501      1  45356.747191
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928      0  47198.815546

## 2. lambda 함수의 적용

* lambda는 1줄로 작성하는 간단 함수식입니다.
* 익명함수이다.
* return을 별도로 명기하지 않습니다

In [20]:
f = lambda x : 1 if x == '남자' else 0

In [21]:
# df['성별']컬럼의 값이 x로 넘어가는 인자이다.
df['성별'].apply(f)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

실제로는 **간단한 계산식을 적용하려는 경우에 많이 사용**합니다.

In [22]:
df['키/2'] = df['키'].apply(lambda x : x/2)

In [23]:
df.head()

     이름     그룹  소속사  성별        생년월일  ...  혈액형   브랜드평판지수  성별_신규     브랜드평판지수/키    키/2
0    지민  방탄소년단  빅히트  남자  1995-10-13  ...    A  10523260      1  60617.857143  86.80
1  지드래곤     빅뱅   YG  남자  1988-08-18  ...    A   9916947      1  56027.949153  88.50
2  강다니엘    NaN  커넥트  남자  1996-12-10  ...    A   8273745      1  45965.250000  90.00
3     뷔  방탄소년단  빅히트  남자  1995-12-30  ...   AB   8073501      1  45356.747191  89.00
4    화사    마마무  RBW  여자  1995-07-23  ...    A   7650928      0  47198.815546  81.05

[5 rows x 11 columns]

In [ ]:
df['키'].apply(lambda x : x **2)

0     30136.96
1     31329.00
2     32400.00
3     31684.00
4     26276.41
5     31684.00
6     33233.29
7          NaN
8     32112.64
9     27922.41
10         NaN
11    33489.00
12    30625.00
13    30976.00
14    30276.00
Name: 키, dtype: float64

apply에 함수식을 만들어서 적용해주는 것과 동일하기 때문에, **복잡한 조건식은 함수**로 **간단한 계산식은 lambda로 적용**할 수 있습니다.

## 3. map - 값을 매핑!
  - 반드시 dictionary형태로 정의해야 함.

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일  ...  혈액형   브랜드평판지수  성별_NEW     브랜드평판지수/키    키/2
0    지민  방탄소년단  빅히트  남자  1995-10-13  ...    A  10523260       1  60617.857143  86.80
1  지드래곤     빅뱅   YG  남자  1988-08-18  ...    A   9916947       1  56027.949153  88.50
2  강다니엘    NaN  커넥트  남자  1996-12-10  ...    A   8273745       1  45965.250000  90.00
3     뷔  방탄소년단  빅히트  남자  1995-12-30  ...   AB   8073501       1  45356.747191  89.00
4    화사    마마무  RBW  여자  1995-07-23  ...    A   7650928       0  47198.815546  81.05

[5 rows x 11 columns]

In [28]:
my_map = {
    '남자': 1,
    '여자': 0
}

In [29]:
df['성별구분'] = df['성별'].map(my_map)

In [30]:
df.head()

     이름     그룹  소속사  성별        생년월일  ...   브랜드평판지수 성별_신규     브랜드평판지수/키    키/2  성별구분
0    지민  방탄소년단  빅히트  남자  1995-10-13  ...  10523260     1  60617.857143  86.80     1
1  지드래곤     빅뱅   YG  남자  1988-08-18  ...   9916947     1  56027.949153  88.50     1
2  강다니엘    NaN  커넥트  남자  1996-12-10  ...   8273745     1  45965.250000  90.00     1
3     뷔  방탄소년단  빅히트  남자  1995-12-30  ...   8073501     1  45356.747191  89.00     1
4    화사    마마무  RBW  여자  1995-07-23  ...   7650928     0  47198.815546  81.05     0

[5 rows x 12 columns]

In [ ]:
[fnc for fnc in dir(df['성별']) if not fnc.startswith('_')]

['T',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [32]:
my_map = {
    '남자': 'male',
    '여자': 'female'
}

In [33]:
df['성별구분'] = df['성별'].map(my_map)

In [34]:
df.head()

     이름     그룹  소속사  성별  ... 성별_신규     브랜드평판지수/키    키/2    성별구분
0    지민  방탄소년단  빅히트  남자  ...     1  60617.857143  86.80    male
1  지드래곤     빅뱅   YG  남자  ...     1  56027.949153  88.50    male
2  강다니엘    NaN  커넥트  남자  ...     1  45965.250000  90.00    male
3     뷔  방탄소년단  빅히트  남자  ...     1  45356.747191  89.00    male
4    화사    마마무  RBW  여자  ...     0  47198.815546  81.05  female

[5 rows x 12 columns]