<a href="https://colab.research.google.com/github/SANGSEOSEO/philosophy_datascience/blob/master/%5B%EC%8B%A4%EC%8A%B5%5DCh02_pandas_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC_13~14_%EB%B6%80%EB%8F%99%EC%82%B0%EB%8D%B0%EC%9D%B4%ED%84%B0_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

## 샘플데이터

[민간 아파트 가격동향](https://www.data.go.kr)

data.or.kr에서 제공하는 공공데이터를 활용합니다

## 데이터프레임 로드

In [28]:
df = pd.read_csv('https://bit.ly/ds-house-price')

In [29]:
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

## 1. column 재정의 (rename)

이전 시간까지는 df.columns 를 통해 전체 column의 이름을 재정의했지만, 한 개의 column만 이름을 바꾸고 싶을 때는 다음과 같이 실행합니다.

분양가격 column의 이름을 재정의

In [30]:
# 컬럼이름 재정의
rename_Dic = {
    '규모구분': '규모',
    '분양가격(㎡)':'분양가'
}
df.rename(mapper=rename_Dic, axis=1, inplace=True)
df.head()

  지역명                 규모    연도   월   분양가
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

## 2. 데이터 Overview

### 2-1. 빈 값과 Data Type 확인하기

In [6]:
# 컬럼의 데이터 타입 및 not null여부 및 널값이 있는 컬럼 확인
# 분양가격 미공개로 값이 없는것이 있음.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모      4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가     4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

### 2-2. 통계값 확인

In [8]:
# 통계값 확인
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

## 3. 분양가격 column을 int 타입으로 변환 (실전 전처리)

In [9]:
# 분양가격 컬럼 정보가 공백이 들어가있는 컬럼이 많음 
# 그럼 이것을 제거해야 함.
df['분양가'].astype(int)

ValueError: ignored

실제로 이렇게 처리된 데이터들이 많습니다.. 휴우...

### strip()을 활용하여 공백이 있는 데이터 공백없애기

[tip] column의 문자열에 strip을 실행하고자 할 때는 str.strip()를 실행해줘야 합니다

[예시] df['분양가격'].str.strip()

In [31]:
# 빈 공백으로 들어가 있는것 확인
df.loc[df['분양가'] == '  ']

    지역명                 규모    연도   월 분양가
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [32]:
# 빈 공백 제거 
df['분양가'] = df['분양가'].str.strip()

In [33]:
# 빈공백이 있는것이 있는지 확인
df.loc[df['분양가'] == '']

    지역명                 규모    연도   월 분양가
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

### 빈 공백이 있는 데이터는 0을 넣어주도록 하겠습니다.
[tip] loc

In [34]:
df.loc[df['분양가'] =='', '분양가'] = 0

In [35]:
df.loc[df['분양가']== 0]

    지역명                 규모    연도   월 분양가
28   광주  전용면적 85㎡초과 102㎡이하  2015  10   0
29   광주        전용면적 102㎡초과  2015  10   0
34   대전        전용면적 102㎡초과  2015  10   0
81   제주         전용면적 60㎡이하  2015  10   0
113  광주  전용면적 85㎡초과 102㎡이하  2015  11   0
114  광주        전용면적 102㎡초과  2015  11   0
119  대전        전용면적 102㎡초과  2015  11   0
166  제주         전용면적 60㎡이하  2015  11   0
198  광주  전용면적 85㎡초과 102㎡이하  2015  12   0
199  광주        전용면적 102㎡초과  2015  12   0
204  대전        전용면적 102㎡초과  2015  12   0
251  제주         전용면적 60㎡이하  2015  12   0
283  광주  전용면적 85㎡초과 102㎡이하  2016   1   0
284  광주        전용면적 102㎡초과  2016   1   0
289  대전        전용면적 102㎡초과  2016   1   0
336  제주         전용면적 60㎡이하  2016   1   0

In [37]:
df['분양가'].astype('int')

ValueError: ignored

이번에는 NaN 값이 말썽이네요...ㅠㅠ

### NaN 값은 fillna로 채워 주도록 합시다!

In [38]:
# NaN값을 0으로 채움
df['분양가'] = df['분양가'].fillna(0)

In [40]:
df['분양가'].astype(int)

ValueError: ignored

세상에나.. ','가 들어간 데이터도 있습니다 ㅠㅠ

In [42]:
# 6,657인것을 찾아보바
df.loc[df['분양가']== '6,657']

     지역명  규모    연도   월    분양가
2125  서울  전체  2017  11  6,657

2125 행에 ,가 들어간 것이 보이시죠?

### 콤마를 제거해 봅시다

In [43]:
# 콤마를 replace로 제거 
df['분양가'] = df['분양가'].str.replace(',','')

In [44]:
df.iloc[2125]

지역명      서울
규모       전체
연도     2017
월        11
분양가    6657
Name: 2125, dtype: object

6,657 -> 6657로 변환된 것을 보실 수 있네요!

In [46]:
df['분양가'].astype(int)

ValueError: ignored

다시 NaN 값이 생겼습니다. 그렇다면 fillna로 다시 처리를 해줘야 합니다.

In [47]:
# NaN값을 다시 0
df['분양가'] = df['분양가'].fillna(0)

In [49]:
df['분양가'].astype(int)

ValueError: ignored

이번에는 '-' 가 말썽이네요 ㅠㅠㅠ

### - 제거하기

In [50]:
# `_'`를 없앰
df['분양가'] = df['분양가'].str.replace('-', '')

In [51]:
df['분양가'].astype(int)

ValueError: ignored

다시 NaN 값이 생겼습니다..

### NaN 값은 0으로 채워 줍시다

In [52]:
# 다시 NaN값을 0으로 처리 
df['분양가'] = df['분양가'].fillna(0)

In [53]:
df['분양가'].astype(int)

ValueError: ignored

빈 값이 다시 생겼습니다.

## 빈 값은 0으로 채워주기

In [55]:
# 빈값은 0으로 채워주기 
df.loc[df['분양가'] == ''] = 0

In [56]:
df['분양가'].astype(int)

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4500    3955
4501    4039
4502    3962
4503       0
4504    3601
Name: 분양가, Length: 4505, dtype: int64

In [68]:
# NaN인 것이 있나?
df[df['분양가'].isna()]
# df['분양가'].isnull()

Empty DataFrame
Columns: [지역명, 규모, 연도, 월, 분양가]
Index: []

In [ ]:
# 분양가격 정보에 '-'가 있는 경우 0으로 처리 
df.loc[df['분양가격']=='-'] = 0
df.loc[df['분양가격']=='-']

Empty DataFrame
Columns: [지역명, 규모, 연도, 월, 분양가격]
Index: []

In [83]:
df['분양가'] = df['분양가'].astype('int')

###규모구분 column에 불필요한 '전용면적' 제거

In [69]:
df['규모'] = df['규모'].str.replace('전용면적', '')

In [71]:
# value_counts : 규모구분 컬럼의 Unique counts
df['규모'].value_counts()

 60㎡초과 85㎡이하     900
 102㎡초과          900
전체               900
 85㎡초과 102㎡이하    898
 60㎡이하           898
Name: 규모, dtype: int64

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모      4496 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가     4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

## 4. 전처리 내용을 복습해 봅시다

제거한 값들을 복습해 봅시다

In [80]:
df2 = pd.read_csv('https://bit.ly/ds-house-price')

In [ ]:
# 콤마가 있는 경우
df2.iloc[2125]

지역명           서울
규모구분          전체
연도          2017
월             11
분양가격(㎡)    6,657
Name: 2125, dtype: object

In [ ]:
df['분양가격'] = df['분양가격'].str.replace(',', '')

In [ ]:
# -가 있는 경우
df2.loc[df2['분양가격(㎡)']=='-'] = 0

# 찾아보기 
df2.loc[df2['분양가격(㎡)']=='-']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격(㎡)]
Index: []

In [ ]:
# 공백이 2개 들어간 경우
df2.loc[df2['분양가격(㎡)']=='  ']

# 0으로 채워넘
df2.loc[df2['분양가격(㎡)']=='  '] = 0

## 5. 분양가격이 잘 바뀌었나요?

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모      4496 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가     4505 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [75]:
df.tail()

     지역명             규모    연도  월   분양가
4500  제주             전체  2020  2  3955
4501  제주          60㎡이하  2020  2  4039
4502  제주    60㎡초과 85㎡이하  2020  2  3962
4503  제주   85㎡초과 102㎡이하  2020  2     0
4504  제주         102㎡초과  2020  2  3601

## 6. 지역명 별로 분양가격을 확인해 봅시다

In [86]:
# 지역별로 평균분양단가 
pd.DataFrame(df.groupby(by='지역명')['분양가'].mean())

             분양가
지역명
0       0.000000
강원   2339.807547
경기   4072.667925
경남   2761.275472
경북   2432.128302
광주   2460.011364
대구   3538.920755
대전   2497.988593
부산   3679.920755
서울   7225.762264
세종   2825.761364
울산   1861.219231
인천   3578.433962
전남   2270.177358
전북   2322.060377
제주   2979.407547
충남   2388.324528
충북   2316.871698

In [88]:
# 이번에는 분양가격이 100보다 작은 것
df[df['분양가'] < 100 ]

     지역명             규모    연도   월  분양가
28    광주   85㎡초과 102㎡이하  2015  10    0
29    광주         102㎡초과  2015  10    0
34    대전         102㎡초과  2015  10    0
81    제주          60㎡이하  2015  10    0
113   광주   85㎡초과 102㎡이하  2015  11    0
...   ..            ...   ...  ..  ...
4461  세종          60㎡이하  2020   2    0
4488  전남   85㎡초과 102㎡이하  2020   2    0
4493  경북   85㎡초과 102㎡이하  2020   2    0
4499  경남         102㎡초과  2020   2    0
4503  제주   85㎡초과 102㎡이하  2020   2    0

[320 rows x 5 columns]

지역명에 0 이라는 값이 있네요. 제거해 볼까요?

In [89]:
df.loc[df['지역명']== 0]

     지역명   규모  연도  월  분양가
3683   0  NaN   0  0    0
3686   0  NaN   0  0    0
3688   0  NaN   0  0    0
3690   0  NaN   0  0    0
3691   0  NaN   0  0    0
3692   0  NaN   0  0    0
3693   0  NaN   0  0    0
3694   0  NaN   0  0    0
3696   0  NaN   0  0    0

[tip] 특정 조건에 만족하는 행을 제거하고자 할 때는

1. index를 list로 가져온다
2. drop을 활용하여 행을 제거한다

In [93]:
# 해당 인덱스에 해당하는 것 삭제 
del_list = df.loc[df['지역명']==0].index
del_list

df.drop(index= del_list, axis=0, inplace=True)


# 분양가가 0인것 제거 
# 통계 왜곡이 있을수 있으니 삭제
zeroList = df.loc[df['분양가']== 0].index
df.drop(index= zeroList, axis=0, inplace=True)

df의 행의 갯수가 줄어든것이 보이시나요?

다시 한 번 지역명으로 group을 묶어 분양가격을 확인해 보겠습니다.

In [98]:
## 지역명으로 다시 집계 후 분양가 확인 
## 내림차순으로 정리
pd.DataFrame(df.groupby(by='지역명')['분양가'].mean().sort_values(ascending=False))

             분양가
지역명
서울   7225.762264
경기   4072.667925
부산   3679.920755
대구   3663.335938
인천   3633.275862
제주   3432.795652
대전   3128.433333
광주   3049.028169
울산   3043.503145
세종   2984.004000
경남   2814.376923
경북   2547.486166
충남   2501.604743
강원   2412.642023
전북   2348.648855
충북   2316.871698
전남   2304.969349

count()로 데이터의 갯수도 확인해 볼까요?

In [99]:
## 코드
df.groupby('지역명')['분양가'].count()

지역명
강원    257
경기    265
경남    260
경북    253
광주    213
대구    256
대전    210
부산    265
서울    265
세종    250
울산    159
인천    261
전남    261
전북    262
제주    230
충남    253
충북    265
Name: 분양가, dtype: int64

지역 별 최고로 비싼 분양가는 어떻게 될까요?

In [102]:
## 지역별 분양가 최고가?
df.groupby(by='지역명')['분양가'].max().sort_values(ascending=False)

지역명
서울    13835
경기     5670
제주     5462
인천     5188
대구     5158
광주     4881
대전     4877
부산     4623
경남     4303
세종     3931
강원     3906
울산     3594
경북     3457
충남     3201
전남     3053
전북     3052
충북     2855
Name: 분양가, dtype: int64

## 7. 이번에는 연도별로 분양가격을 확인해 봅시다.

In [103]:
## 코드
## 정권에 따라 주택 분양가는 정말 널뛰기?
trend_df = df.groupby(by=['연도', '분양가']).mean()

In [ ]:
trend_df.unstack('지역명')

         월              ...         분양가격
지역명     강원    경기    경남  ...           제주           충남           충북
연도                      ...
2015  11.0  11.0  11.0  ...  2409.416667  2330.266667  2069.333333
2016   6.5   6.5   6.5  ...  2702.677966  2411.583333  2161.616667
2017   6.5   6.5   6.5  ...  3380.366667  2389.516667  2261.383333
2018   6.5   6.5   6.5  ...  3014.133333  2278.283333  2469.483333
2019   6.5   6.5   6.5  ...  3106.466667  2430.233333  2415.416667
2020   1.5   1.5   1.5  ...  3111.400000  2737.500000  2445.700000

[6 rows x 34 columns]

## 8. 피벗 테이블을 활용해서 볼까요?

* 행인덱스: 연도
* 열인덱스: 규모구분
* 값: 분양가

In [104]:
## 코드
pivot_df = pd.pivot_table(df, values='분양가', index='연도', columns='규모', aggfunc='mean')

In [ ]:
pivot_df = pd.pivot_table(df, values='분양가격', index=['지역명'], columns='규모', aggfunc='mean')
pivot_df

규모   전용면적 102㎡초과   전용면적 60㎡이하  전용면적 60㎡초과 85㎡이하  전용면적 85㎡초과 102㎡이하           전체
지역명
강원   2575.056604  2302.169811       2277.207547        2268.660377  2275.943396
경기   4493.943396  4044.660377       3812.905660        4184.301887  3827.528302
경남   2955.547170  2540.905660       2628.245283        3041.320755  2640.358491
경북   2791.415094  2396.320755       2455.377358        2056.754717  2460.773585
광주   2760.897959  2626.943396       3033.433962        1115.062500  3030.867925
대구   4005.735849  3656.377358       3602.905660        2828.622642  3600.962264
대전   2759.755102  2540.653846       2963.000000        1428.288462  2987.150943
부산   4012.301887  3456.943396       3611.245283        3687.433962  3631.679245
서울   7168.698113  7078.547170       6932.622642        8055.905660  6893.037736
세종   3090.754717  2063.480769       2974.075472        3000.396226  2985.716981
울산   1506.250000  1741.711538       2694.076923         671.288462  2692.769231
인천   4052.056604  3427.018868       3469.377358        3510.698113  3433.018868
전남   2497.396226  2201.377358       2216.905660        2213.754717  2221.452830
전북   2489.056604  2313.452830       2212.830189        2375.528302  2219.433962
제주   2963.622642  3569.918367       3251.509434        2081.811321  3299.603774
충남   2584.415094  2396.981132       2377.886792        2206.566038  2375.773585
충북   2485.660377  2161.698113       2204.245283        2541.132075  2191.622642

In [ ]:
# 인덱스 : 연도 + 지역명
# 컬럼(행) : 전용면적
# values : 분양가
pivot_df = pd.pivot_table(df, values='분양가격', index=['연도', '지역명'], columns='규모', aggfunc='mean')
pivot_df

규모        전용면적 102㎡초과   전용면적 60㎡이하  ...  전용면적 85㎡초과 102㎡이하           전체
연도   지역명                            ...
2015 강원   2171.000000  2290.000000  ...        2061.000000  2169.666667
     경기   3751.333333  3166.000000  ...        3445.333333  3144.666667
     경남   3025.333333  2239.666667  ...        2934.666667  2298.666667
     경북   2320.666667  2197.333333  ...        2446.666667  2173.000000
     광주           NaN  2299.666667  ...                NaN  2440.000000
...               ...          ...  ...                ...          ...
2020 전남   3053.000000  2529.000000  ...           0.000000  2495.500000
     전북   2667.000000  2526.000000  ...        2764.000000  2468.000000
     제주   3601.000000  4039.000000  ...           0.000000  3955.000000
     충남   2835.000000  2385.500000  ...        3201.000000  2622.000000
     충북   2532.000000  2372.000000  ...        2634.000000  2350.000000

[102 rows x 5 columns]

## 9. 연도별, 규모별 가격을 알아볼까요?

In [107]:
## 멀티 인덱스 
pd.DataFrame(df.groupby(by=['연도', '규모'])['분양가'].mean())

                            분양가
연도   규모
2015  102㎡초과        2980.977778
      60㎡이하         2712.583333
      60㎡초과 85㎡이하   2694.490196
      85㎡초과 102㎡이하  2884.395833
     전체             2694.862745
2016  102㎡초과        3148.099476
      60㎡이하         2848.144279
      60㎡초과 85㎡이하   2816.965686
      85㎡초과 102㎡이하  3067.380435
     전체             2816.073529
2017  102㎡초과        3427.649746
      60㎡이하         3112.538071
      60㎡초과 85㎡이하   2981.950980
      85㎡초과 102㎡이하  3204.075145
     전체             3008.279412
2018  102㎡초과        3468.355932
      60㎡이하         3286.184783
      60㎡초과 85㎡이하   3227.458128
      85㎡초과 102㎡이하  3467.184211
     전체             3235.098522
2019  102㎡초과        4039.854839
      60㎡이하         3486.910112
      60㎡초과 85㎡이하   3538.545918
      85㎡초과 102㎡이하  3933.538462
     전체             3515.974490
2020  102㎡초과        4187.566667
      60㎡이하         3615.968750
      60㎡초과 85㎡이하   3594.852941
      85㎡초과 102㎡이하  4532.090909
     전체             3603.911765

예쁘게 출력이 안되어서 보기가 힘들때는 pd.DataFrame()으로 한 번 더 감싸주면 됩니다.

In [ ]:
## 연도 및 규모별로 보는 평균분양가
pd.DataFrame(df.groupby(by=['연도', '규모'])['분양가격'].mean())

                           분양가격
연도   규모
2015  102㎡초과        2980.977778
      60㎡이하         2712.583333
      60㎡초과 85㎡이하   2694.490196
      85㎡초과 102㎡이하  2884.395833
     전체             2694.862745
2016  102㎡초과        2976.668317
      60㎡이하         2820.083744
      60㎡초과 85㎡이하   2816.965686
      85㎡초과 102㎡이하  2780.285714
     전체             2816.073529
2017  102㎡초과        3310.034314
      60㎡이하         3005.735294
      60㎡초과 85㎡이하   2981.950980
      85㎡초과 102㎡이하  2717.181373
     전체             3008.279412
2018  102㎡초과        3009.308824
      60㎡이하         2964.009804
      60㎡초과 85㎡이하   3211.637255
      85㎡초과 102㎡이하  2583.392157
     전체             3219.240196
2019  102㎡초과        3701.541872
      60㎡이하         3087.910448
      60㎡초과 85㎡이하   3416.527094
      85㎡초과 102㎡이하  3052.895522
     전체             3394.733990
2020  102㎡초과        3694.911765
      60㎡이하         3403.264706
      60㎡초과 85㎡이하   3594.852941
      85㎡초과 102㎡이하  2932.529412
     전체             3603.911765