## 2.6 리스트 컴프리헨션

[1.리스트 신규 생성](#리스트-신규-생성)<br>
[2.필터링](#필터링)<br>
[3.사용 예](#사용예)<br>
[4.일반적인 문법](#일반적인-문법)<br>
5.탄생 배경(Historical Digression)<br>
6. 연습문제<br>
  &nbsp;&nbsp;&nbsp;2.19 리스트 컴프리헨션<br>
  &nbsp;&nbsp;&nbsp;2.20 시퀀스 축소<br>
  &nbsp;&nbsp;&nbsp;2.21 데이터 질의<br>
  &nbsp;&nbsp;&nbsp;2.22 데이터 추출<br>
  &nbsp;&nbsp;&nbsp;2.23 CSV 파일로부터 데이터 추출<br>
  &nbsp;&nbsp;&nbsp;2.24 부연설명(Commentary)

### 리스트 신규 생성

In [2]:
a = [1, 2, 3, 4, 5]
b = [2 * x for x in a]
a, b

([1, 2, 3, 4, 5], [2, 4, 6, 8, 10])

* 위의 컴프리헨션을 자세히보면, 리스트 각 원소에 연산을 한 결과이다.

In [11]:
names = ['Elwood', 'Jake']
a = [name.lower() for name in names]
a

['elwood', 'jake']

### 일반적인 문법

* 일반적인 구문: [ <표현식> for <변수명> in <시퀀스> ]
* 아래의 코딩과 동일한 의미

In [ ]:
result = []
    for <변수명> in <시퀀스>:
        if condition:
            result.append(<표현식>)

### 필터링

In [10]:
a = [1, -5, 4, 2, -2, 10]
b = [2 * x for x in a if x > 0]
a, b

([1, -5, 4, 2, -2, 10], [2, 8, 4, 20])

* 필터링 조건으로 리스트 컴프리헨션이 생성

### 사용예

In [16]:
stocks = [
    {'name': 'GOOG', 'shares': 5000, 'price': 15000},
    {'name': 'APPLE', 'shares': 350, 'price': 22157.6},
    {'name': 'SAMSUNG', 'shares': 10, 'price': 80000},
    {'name': 'KIA', 'shares': 5, 'price': 60500},
    {'name': 'HYNDAI', 'shares': 30, 'price': 50000},
]

stocknames = [s['name'] for s in stocks if s['price'] > 60000]

In [18]:
stocknames

['SAMSUNG', 'KIA']

In [21]:
cost = sum([s['shares'] * s['price'] for s in stocks])
cost

85357660.0

### 탄생배경

* 리스트 컴프리헨션은 수학에서 왔다(조건제시법).

In [22]:
def read_portpolio(filename):
    """
    csv파일을 읽어 주가정보를 딕셔너리형태로 담아서 리스트로 최종 리턴
    """
    import csv
    target_dir = "../../Work/Data/"
    stock_info = []
    with open(target_dir + filename, "rt") as f:
        headers = next(f)
        rows = csv.reader(f)
        for row in rows:
            portfolio = {}
            portfolio['name'] = row[0]
            portfolio['shares'] = int(row[1])
            portfolio['prices'] = float(row[2])
            stock_info.append(portfolio)
    return stock_info

### 연습문제 2.19 리스트 컴프리헨션

In [24]:
nums = [1, 2, 3, 4]
squares = [x ** x for x in nums]
squares

[1, 4, 27, 256]

In [29]:
twice = [2 * x for x in nums if x > 2]
twice

[6, 8]

### 2.20 시퀀스 축소

In [31]:
portfolio = read_portpolio("portfolio.csv")

In [41]:
cost = sum([row['shares'] * row['prices'] for row in portfolio])
print("이 주식을 통으로 사는 비용 : %.2f" % cost)

이 주식을 통으로 사는 비용 : 44671.15

* Map Reduction의 한 예이다

### REPL

In [35]:
row = portfolio[0]

In [40]:
row['name'], row['shares'], row['prices']

('AA', 100, 32.2)

### 연습 문제 2.21: 데이터 질의

In [55]:
# 100주이상 보유한 주식의 리스트 
from pprint import pprint
more100 = [row for row in portfolio if row['shares'] >= 100]
pprint(more100)

[{'name': 'AA', 'prices': 32.2, 'shares': 100},
 {'name': 'CAT', 'prices': 83.44, 'shares': 150},
 {'name': 'MSFT', 'prices': 51.23, 'shares': 200},
 {'name': 'IBM', 'prices': 70.44, 'shares': 100}]

In [49]:
IBM_MSFT = [row for row in portfolio if row['name'] in ('MSFT', 'IBM')]
pprint(IBM_MSFT)

[{'name': 'IBM', 'prices': 91.1, 'shares': 50},
 {'name': 'MSFT', 'prices': 51.23, 'shares': 200},
 {'name': 'MSFT', 'prices': 65.1, 'shares': 50},
 {'name': 'IBM', 'prices': 70.44, 'shares': 100}]

In [54]:
# 살려면 10000달러 이상은 줘야 되는 상한가 종목
row100k = [row for row in portfolio if row['shares'] * row['prices'] > 10000]
pprint(row100k)

[{'name': 'CAT', 'prices': 83.44, 'shares': 150},
 {'name': 'MSFT', 'prices': 51.23, 'shares': 200}]

### 연습 문제 2.22: 데이터 추출

In [59]:
row = portfolio[0]

(row['name'], row['shares'])

('AA', 100)

#### 튜플 형태로 받기.

In [69]:
[(row['name'], row['shares']) for row in portfolio]

[('AA', 100),
 ('IBM', 50),
 ('CAT', 150),
 ('MSFT', 200),
 ('GE', 95),
 ('MSFT', 50),
 ('IBM', 100)]

#### 세트 컴프리헨션

In [74]:
names = {row['name'] for row in portfolio}
names

{'AA', 'CAT', 'GE', 'IBM', 'MSFT'}

####  key와 value의 쌍으로 리턴

In [76]:

{n:0 for n in names}

{'CAT': 0, 'GE': 0, 'IBM': 0, 'MSFT': 0, 'AA': 0}

In [80]:
{row['name']:row['prices'] for row in portfolio}

{'AA': 32.2, 'IBM': 70.44, 'CAT': 83.44, 'MSFT': 65.1, 'GE': 40.37}

### 연습 문제 2.23: CSV 파일에서 데이터 추출하기

In [108]:
import csv

f = open("../../Work/Data/portfoliodate.csv", mode='r')
rows = csv.reader(f)
headers = next(rows)
display(headers, headers.index)

['name', 'date', 'time', 'shares', 'price']

In [83]:
select = ['name', 'shares', 'price']

In [86]:
headers.index(select[1])

3

In [94]:
indices = [headers.index(s) for s in select]
indices

[0, 3, 4]

In [97]:
row = next(rows)
row

record = {colname: row[index] for colname, index in zip(select, indices)}
record

{'name': 'CAT', 'shares': '150', 'price': '83.44'}

In [106]:
 for row in rows:
        print(row)

['AA', '6/11/2007', '9:50am', '100', '32.20']
['IBM', '5/13/2007', '4:20pm', '50', '91.10']
['CAT', '9/23/2006', '1:30pm', '150', '83.44']
['MSFT', '5/17/2007', '10:30am', '200', '51.23']
['GE', '2/1/2006', '10:45am', '95', '40.37']
['MSFT', '10/31/2006', '12:05pm', '50', '65.10']
['IBM', '7/9/2006', '3:15pm', '100', '70.44']

In [109]:
portfolio = [ { colname: row[index] for colname, index in zip(select, indices) } for row in rows ]
portfolio

[{'name': 'AA', 'shares': '100', 'price': '32.20'},
 {'name': 'IBM', 'shares': '50', 'price': '91.10'},
 {'name': 'CAT', 'shares': '150', 'price': '83.44'},
 {'name': 'MSFT', 'shares': '200', 'price': '51.23'},
 {'name': 'GE', 'shares': '95', 'price': '40.37'},
 {'name': 'MSFT', 'shares': '50', 'price': '65.10'},
 {'name': 'IBM', 'shares': '100', 'price': '70.44'}]