<a href="https://colab.research.google.com/github/SANGSEOSEO/philosophy_datascience/blob/master/%5B%EC%8B%A4%EC%8A%B5%5DCh01_pandas_04_read_excel().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

## 실습에 사용할 다운로드 주소

[국내 아이돌 브랜드 평판 (excel)](http://bit.ly/ds-korean-idol-excel)

## 1. 엑셀 파일 읽어오기

엑셀 파일을 읽어 올 때는 **read_excel()** 함수를 사용합니다.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
filename = '/content/drive/My Drive/[2주차]데이터분석 기초_전처리 라이브러리/data/korean-idol.xlsx'

In [8]:
# 엑셀읽기
df1 = pd.read_excel(filename)

In [9]:
df1.head(n=10)

     이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2  강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3     뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4    화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5    정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6    민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7    소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8     진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9   하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489

In [10]:
df1.shape, type(df1)

((15, 8), pandas.core.frame.DataFrame)

## 2. 부동산 가격 정보 가져오기

In [11]:
realEstate = '/content/drive/My Drive/[2주차]데이터분석 기초_전처리 라이브러리/data/seoul_house_price.csv'

In [12]:
hs_df1 = pd.read_csv(realEstate)

In [13]:
hs_df1.tail(n=10)

     지역명               규모구분    연도  월 분양가격(㎡)
4495  경남                 전체  2020  2    3063
4496  경남         전용면적 60㎡이하  2020  2    2780
4497  경남   전용면적 60㎡초과 85㎡이하  2020  2    3065
4498  경남  전용면적 85㎡초과 102㎡이하  2020  2    3247
4499  경남        전용면적 102㎡초과  2020  2     NaN
4500  제주                 전체  2020  2    3955
4501  제주         전용면적 60㎡이하  2020  2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020  2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020  2     NaN
4504  제주        전용면적 102㎡초과  2020  2    3601

##엑셀 파일 읽어오기
  - 판다스의 read_excel() 함수 사용